[connection]
id={{ connection.id }}
uuid={{ connection.uuid }}
type=vpn
autoconnect=false
permissions=user:{{ connection.local_user }}:;
secondaries=
timestamp=

[vpn]
{% if connection.ta_dir is defined %}
ta-dir={{ connection.ta_dir }}
{% endif %}
connection-type=password
password-flags={{ connection.password_flags }}
remote={{ connection.remote }}
{% if connection.comp_lzo is defined %}
comp-lzo={{ connection.comp_lzo }}
{% endif %}
{% if connection.reneg_seconds is defined %}
reneg-seconds={{ connection.reneg_seconds }}
{% endif %}
{% if connection.ns_cert_type is defined %}
ns-cert-type={{ connection.ns_cert_type }}
{% endif %}
{% if connection.port is defined %}
port={{ connection.port }}
{% endif %}
{% if connection.proto_tcp is defined %}
proto-tcp={{ connection.proto_tcp }}
{% endif %}
{% if connection.dev_type is defined %}
dev-type={{ connection.dev_type }}
{% endif %}
username={{ connection.username }}
ca={{ connection.ca }}
{% if connection.ta is defined %}
ta={{ connection.ta }}
{% endif %}
service-type=org.freedesktop.NetworkManager.openvpn

[ipv4]
dns-search=
{% if connection.ignore_auto_dns is defined %}
ignore-auto-dns={{ connection.ignore_auto_dns }}
{% endif %}
method=auto
{% if connection.never_default is defined %}
never-default={{ connection.never_default }}
{% endif %}

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=ignore
